
<!-- <div class="mt-240 m-20 mw-340 h-612 morning-message"> -->
        <!-- <img class="w-140 h-140 border-radius-100 mt-20" src="assets/images/logos/project.svg"> -->
    <!-- <div class="p-16 mt-12"> -->
        <!-- <div class="h1"><b>Leaderboard</b></div>
        <div class="h4 secondary-text">Individuals & Teams</div> -->
    <!-- </div> -->
    <!-- <img src="assets/images/cards/card1.jpg"> -->
<!-- </div> -->










<!-- <div class="progress-page-content p-12 pl-112 m-12 w-305 h-304"> -->

        <div>
            <div class="card-preview  w-424 box1">
                <div class="fuse-cards one ">
                    <div class="p-16" fxLayout="row" fxLayoutAlign="space-between center">
                        <!-- <div class="w-80 h-80"> -->
                            <!-- <img class="circle" src="assets/images/logos/project.svg"> -->
                        <!-- </div> -->
                        <!-- <div class="pr-16 morning-msg">
                            <div class="h1 rotate"><b>Morning Jessica, new Milestones and Tasks awaits ;)
                                Where do you want to go today?</b>
                            </div>
                            <div class="h4 secondary-text rotate">New Milestones for this week has been 
                                started - 10 000XP Rewards when completed! Go to your Task Tracker 
                                to view details!</div> -->
                        <!-- </div> -->
                    </div>
                </div>
            </div>
        </div>
 
    <!-- </div> -->
















<div >
<a href="/link/to/create-teams" target="_blank"><button class="btn success ml-36 h-612 mt-244">
</button></a>
<div class="setup ml-12">setup</div>
</div>

<div class="fuse-card mt-240 m-20 mw-340 h-612">
        <img class="w-140 h-140 border-radius-100 mt-20" src="assets/images/logos/project.svg">
    <div class="p-16 mt-12">
        <div class="h1"><b>Leaderboard</b></div>
        <div class="h4 secondary-text">Individuals & Teams</div>
    </div>
    <img src="assets/images/cards/card1.jpg">
</div>


<div class="fuse-card mt-240 m-20 mw-340 h-612">
        <img class="w-140 h-140 border-radius-100 mt-20" src="assets/images/logos/project.svg">
   <div class="p-16 mt-12">
        <div class="h1"><b>Task</b></div>
        <div class="h4 secondary-text">New Tasks Released</div>
    </div>
    <img src="assets/images/cards/card1.jpg">
</div>


<div class="fuse-card mt-240 m-20 mw-340 h-612">
        <img class="w-140 h-140 border-radius-100 mt-20" src="assets/images/logos/project.svg">
    <div class="p-16 mt-12">
        <div class="h1"><b>Performance</b></div>
        <div class="h4 secondary-text">500XP to Next Level</div>
    </div>
    <img src="assets/images/cards/card1.jpg">
</div>

<div class="fuse-card feedback mt-240 m-20 mw-340 h-612" >
        <img class="w-140 h-140 border-radius-100 mt-20" src="assets/images/logos/project.svg">
    <div class="p-16 mt-12">
        <div class="h1 feedback"><b>Feedback</b></div>
        <div class="h4 secondary-text feedback">Coming Soon</div>
    </div>
</div>
