
<div id="leader-page" fxLayout="column">

        <mat-tab-group>
            <mat-tab label="Individual"> 
                
            <!-- User 1 -->

            <div class="progress-page-content p-12 pl-112 m-12 w-305 h-304">

        <div>
            <div class="card-preview  w-424 box1">
                <div class="fuse-card one">
                    <div class="p-16" fxLayout="row" fxLayoutAlign="space-between center">
                        <div class="w-80 h-80">
                            <img class="circle" src="assets/images/logos/project.svg">
                        </div>
                        <div class="pr-16">
                            <div class="h1">Last Achievement</div>
                            <div class="h4 secondary-text">1st on Leaderboard</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
 
        <div>
            <div class="card-preview box1">
                <div class="fuse-card border">
 
                    <div class="p-16" fxLayout="row" fxLayoutAlign="space-between center">
                        <div class="w-80 h-80">
                            <img class="image ml-84 profile" src="assets/images/logos/project.svg">
                        </div>
                    </div>
                </div>
            </div>
        </div>
 
        <div>
            <div class="card-preview box1">
 
                <div class="fuse-card one">
 
                    <div class="p-16" fxLayout="row" fxLayoutAlign="space-between center">
                        <div class="w-80 h-80">
                            <img class="circle" src="assets/images/logos/project.svg">
                        </div>
                        <div class="pr-16">
                            <div class="h1">Last Badge</div>
                            <div class="h4 secondary-text">Team Player -Give Feedback</div>
                        </div>
 
 
 
                    </div>
 
                </div>
 
            </div>
        </div>
 
 
        <div>
            <div class="card-preview">
 
                <div class="fuse-card one">
 
                    <div class="p-16" fxLayout="row" fxLayoutAlign="space-between center">
                        <div class="w-80 h-80">
                            <img class="circle" src="assets/images/logos/project.svg">
                        </div>
                        <div class="pr-16">
                            <div class="h1">Next Achievement</div>
                            <div class="h4 secondary-text">Complete your first Milestone</div>
                        </div>
                    </div>
 
                </div>
 
            </div>
        </div>
 
        <div>
            <div class="card-preview">
 
                <div class="fuse-card border">
 
                    <div class="p-16" fxLayout="row" fxLayoutAlign="space-between center">
 
                        <div class="pr-16 middle">
                            <div class="h1 middle">Jessica Blake</div>
                            <div class="h4 secondary-text middle">L15 Specialist Status</div>
                            <div class="h5 secondary-text middle">HR Department</div>
                            <div class="h5 secondary-text middle">Recruitment Team</div>
                        </div>
 
 
                    </div>
 
                </div>
 
            </div>
        </div>
        <div>
            <div class="card-preview">
 
                <div class="fuse-card one">
 
                    <div class="p-16" fxLayout="row" fxLayoutAlign="space-between center">
                        <div class="w-80 h-80">
                            <img class="circle" src="assets/images/logos/project.svg">
                        </div>
                        <div class="pr-16">
                            <div class="h1">Next Badge</div>
                            <!-- <div class="h4 secondary-text">Complete your first Milestone</div> -->
                            <div class="h4 secondary-text">Workaholic 10 tasks completed</div>
                        </div>
                    </div>
 
                </div>
 
            </div>
        </div>
    </div>

    <!-- User 2 -->

    <div class="progress-page-content p-12 pl-112 m-12 w-305 h-304">

        <div>
            <div class="card-preview box1">
                <div class="fuse-card one">
                    <div class="p-16" fxLayout="row" fxLayoutAlign="space-between center">
                        <div class="w-80 h-80">
                            <img class="circle" src="assets/images/logos/project.svg">
                        </div>
                        <div class="pr-16">
                            <div class="h1">Last Achievement</div>
                            <div class="h4 secondary-text">1st on Leaderboard</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
  
        <div>
            <div class="card-preview box1">
                <div class="fuse-card border">
  
                    <div class="p-16" fxLayout="row" fxLayoutAlign="space-between center">
                        <div class="w-80 h-80">
                            <img class="image ml-84" src="assets/images/logos/project.svg">
                        </div>
                    </div>
                </div>
            </div>
        </div>
  
        <div>
            <div class="card-preview box1">
  
                <div class="fuse-card one">
  
                    <div class="p-16" fxLayout="row" fxLayoutAlign="space-between center">
                        <div class="w-80 h-80">
                            <img class="circle" src="assets/images/logos/project.svg">
                        </div>
                        <div class="pr-16">
                            <div class="h1">Last Badge</div>
                            <div class="h4 secondary-text">Team Player -Give Feedback</div>
                        </div>
  
  
  
                    </div>
  
                </div>
  
            </div>
        </div>
  
  
        <div>
            <div class="card-preview">
  
                <div class="fuse-card one">
  
                    <div class="p-16" fxLayout="row" fxLayoutAlign="space-between center">
                        <div class="w-80 h-80">
                            <img class="circle" src="assets/images/logos/project.svg">
                        </div>
                        <div class="pr-16">
                            <div class="h1">Next Achievement</div>
                            <div class="h4 secondary-text">Complete your first Milestone</div>
                        </div>
                    </div>
  
                </div>
  
            </div>
        </div>
  
        <div>
            <div class="card-preview">
  
                <div class="fuse-card border">
  
                    <div class="p-16" fxLayout="row" fxLayoutAlign="space-between center">
  
                        <div class="pr-16 middle">
                            <div class="h1 middle">Jessica Blake</div>
                            <div class="h4 secondary-text middle">L15 Specialist Status</div>
                            <div class="h5 secondary-text middle">HR Department</div>
                            <div class="h5 secondary-text middle">Recruitment Team</div>
                        </div>
  
  
                    </div>
  
                </div>
  
            </div>
        </div>
        <div>
            <div class="card-preview">
  
                <div class="fuse-card one">
  
                    <div class="p-16" fxLayout="row" fxLayoutAlign="space-between center">
                        <div class="w-80 h-80">
                            <img class="circle" src="assets/images/logos/project.svg">
                        </div>
                        <div class="pr-16">
                            <div class="h1">Next Badge</div>
                            <!-- <div class="h4 secondary-text">Complete your first Milestone</div> -->
                            <div class="h4 secondary-text">Workaholic 10 tasks completed</div>
                        </div>
                    </div>
  
                </div>
  
            </div>
        </div>
    </div>

    <!-- User 3 -->

    <div class="progress-page-content p-12 pl-112 m-12 w-305 h-304">

        <div>
            <div class="card-preview box1">
                <div class="fuse-card one">
                    <div class="p-16" fxLayout="row" fxLayoutAlign="space-between center">
                        <div class="w-80 h-80">
                            <img class="circle" src="assets/images/logos/project.svg">
                        </div>
                        <div class="pr-16">
                            <div class="h1">Last Achievement</div>
                            <div class="h4 secondary-text">1st on Leaderboard</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
  
        <div>
            <div class="card-preview box1">
                <div class="fuse-card border">
  
                    <div class="p-16" fxLayout="row" fxLayoutAlign="space-between center">
                        <div class="w-80 h-80">
                            <img class="image ml-84" src="assets/images/logos/project.svg">
                        </div>
                    </div>
                </div>
            </div>
        </div>
  
        <div>
            <div class="card-preview box1">
  
                <div class="fuse-card one">
  
                    <div class="p-16" fxLayout="row" fxLayoutAlign="space-between center">
                        <div class="w-80 h-80">
                            <img class="circle" src="assets/images/logos/project.svg">
                        </div>
                        <div class="pr-16">
                            <div class="h1">Last Badge</div>
                            <div class="h4 secondary-text">Team Player -Give Feedback</div>
                        </div>
  
  
  
                    </div>
  
                </div>
  
            </div>
        </div>
  
  
        <div>
            <div class="card-preview">
  
                <div class="fuse-card one">
  
                    <div class="p-16" fxLayout="row" fxLayoutAlign="space-between center">
                        <div class="w-80 h-80">
                            <img class="circle" src="assets/images/logos/project.svg">
                        </div>
                        <div class="pr-16">
                            <div class="h1">Next Achievement</div>
                            <div class="h4 secondary-text">Complete your first Milestone</div>
                        </div>
                    </div>
  
                </div>
  
            </div>
        </div>
  
        <div>
            <div class="card-preview">
  
                <div class="fuse-card border">
  
                    <div class="p-16" fxLayout="row" fxLayoutAlign="space-between center">
  
                        <div class="pr-16 middle">
                            <div class="h1 middle">Jessica Blake</div>
                            <div class="h4 secondary-text middle">L15 Specialist Status</div>
                            <div class="h5 secondary-text middle">HR Department</div>
                            <div class="h5 secondary-text middle">Recruitment Team</div>
                        </div>
  
  
                    </div>
  
                </div>
  
            </div>
        </div>
        <div>
            <div class="card-preview">
  
                <div class="fuse-card one">
  
                    <div class="p-16" fxLayout="row" fxLayoutAlign="space-between center">
                        <div class="w-80 h-80">
                            <img class="circle" src="assets/images/logos/project.svg">
                        </div>
                        <div class="pr-16">
                            <div class="h1">Next Badge</div>
                            <!-- <div class="h4 secondary-text">Complete your first Milestone</div> -->
                            <div class="h4 secondary-text">Workaholic 10 tasks completed</div>
                        </div>
                    </div>
  
                </div>
  
            </div>
        </div>
    </div>

            </mat-tab>
            <mat-tab label="Team"> 
                
 <!-- User 1 -->

 <div class="progress-page-content p-12 pl-112 m-12 w-305 h-304">

        <div>
            <div class="card-preview box1">
                <div class="fuse-card one">
                    <div class="p-16" fxLayout="row" fxLayoutAlign="space-between center">
                        <div class="w-80 h-80">
                            <img class="circle" src="assets/images/logos/project.svg">
                        </div>
                        <div class="pr-16">
                            <div class="h1">Last Achievement</div>
                            <div class="h4 secondary-text">1st on Leaderboard</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
 
        <div>
            <div class="card-preview box1">
                <div class="fuse-card border">
 
                    <div class="p-16" fxLayout="row" fxLayoutAlign="space-between center">
                        <div class="w-80 h-80">
                            <img class="image ml-84" src="assets/images/logos/project.svg">
                        </div>
                    </div>
                </div>
            </div>
        </div>
 
        <div>
            <div class="card-preview box1">
 
                <div class="fuse-card one">
 
                    <div class="p-16" fxLayout="row" fxLayoutAlign="space-between center">
                        <div class="w-80 h-80">
                            <img class="circle" src="assets/images/logos/project.svg">
                        </div>
                        <div class="pr-16">
                            <div class="h1">Last Badge</div>
                            <div class="h4 secondary-text">Team Player -Give Feedback</div>
                        </div>
 
 
 
                    </div>
 
                </div>
 
            </div>
        </div>
 
 
        <div>
            <div class="card-preview">
 
                <div class="fuse-card one">
 
                    <div class="p-16" fxLayout="row" fxLayoutAlign="space-between center">
                        <div class="w-80 h-80">
                            <img class="circle" src="assets/images/logos/project.svg">
                        </div>
                        <div class="pr-16">
                            <div class="h1">Next Achievement</div>
                            <div class="h4 secondary-text">Complete your first Milestone</div>
                        </div>
                    </div>
 
                </div>
 
            </div>
        </div>
 
        <div>
            <div class="card-preview">
 
                <div class="fuse-card border">
 
                    <div class="p-16" fxLayout="row" fxLayoutAlign="space-between center">
 
                        <div class="pr-16 middle">
                            <div class="h1 middle">Jessica Blake</div>
                            <div class="h4 secondary-text middle">L15 Specialist Status</div>
                            <div class="h5 secondary-text middle">HR Department</div>
                            <div class="h5 secondary-text middle">Recruitment Team</div>
                        </div>
 
 
                    </div>
 
                </div>
 
            </div>
        </div>
        <div>
            <div class="card-preview">
 
                <div class="fuse-card one">
 
                    <div class="p-16" fxLayout="row" fxLayoutAlign="space-between center">
                        <div class="w-80 h-80">
                            <img class="circle" src="assets/images/logos/project.svg">
                        </div>
                        <div class="pr-16">
                            <div class="h1">Next Badge</div>
                            <!-- <div class="h4 secondary-text">Complete your first Milestone</div> -->
                            <div class="h4 secondary-text">Workaholic 10 tasks completed</div>
                        </div>
                    </div>
 
                </div>
 
            </div>
        </div>
    </div>

    <!-- User 2 -->

    <div class="progress-page-content p-12 pl-112 m-12 w-305 h-304">

        <div>
            <div class="card-preview box1">
                <div class="fuse-card one">
                    <div class="p-16" fxLayout="row" fxLayoutAlign="space-between center">
                        <div class="w-80 h-80">
                            <img class="circle" src="assets/images/logos/project.svg">
                        </div>
                        <div class="pr-16">
                            <div class="h1">Last Achievement</div>
                            <div class="h4 secondary-text">1st on Leaderboard</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
  
        <div>
            <div class="card-preview box1">
                <div class="fuse-card border">
  
                    <div class="p-16" fxLayout="row" fxLayoutAlign="space-between center">
                        <div class="w-80 h-80">
                            <img class="image ml-84" src="assets/images/logos/project.svg">
                        </div>
                    </div>
                </div>
            </div>
        </div>
  
        <div>
            <div class="card-preview box1">
  
                <div class="fuse-card one">
  
                    <div class="p-16" fxLayout="row" fxLayoutAlign="space-between center">
                        <div class="w-80 h-80">
                            <img class="circle" src="assets/images/logos/project.svg">
                        </div>
                        <div class="pr-16">
                            <div class="h1">Last Badge</div>
                            <div class="h4 secondary-text">Team Player -Give Feedback</div>
                        </div>
  
  
  
                    </div>
  
                </div>
  
            </div>
        </div>
  
  
        <div>
            <div class="card-preview">
  
                <div class="fuse-card one">
  
                    <div class="p-16" fxLayout="row" fxLayoutAlign="space-between center">
                        <div class="w-80 h-80">
                            <img class="circle" src="assets/images/logos/project.svg">
                        </div>
                        <div class="pr-16">
                            <div class="h1">Next Achievement</div>
                            <div class="h4 secondary-text">Complete your first Milestone</div>
                        </div>
                    </div>
  
                </div>
  
            </div>
        </div>
  
        <div>
            <div class="card-preview">
  
                <div class="fuse-card border">
  
                    <div class="p-16" fxLayout="row" fxLayoutAlign="space-between center">
  
                        <div class="pr-16 middle">
                            <div class="h1 middle">Jessica Blake</div>
                            <div class="h4 secondary-text middle">L15 Specialist Status</div>
                            <div class="h5 secondary-text middle">HR Department</div>
                            <div class="h5 secondary-text middle">Recruitment Team</div>
                        </div>
  
  
                    </div>
  
                </div>
  
            </div>
        </div>
        <div>
            <div class="card-preview">
  
                <div class="fuse-card one">
  
                    <div class="p-16" fxLayout="row" fxLayoutAlign="space-between center">
                        <div class="w-80 h-80">
                            <img class="circle" src="assets/images/logos/project.svg">
                        </div>
                        <div class="pr-16">
                            <div class="h1">Next Badge</div>
                            <!-- <div class="h4 secondary-text">Complete your first Milestone</div> -->
                            <div class="h4 secondary-text">Workaholic 10 tasks completed</div>
                        </div>
                    </div>
  
                </div>
  
            </div>
        </div>
    </div>

    <!-- User 3 -->

    <div class="progress-page-content p-12 pl-112 m-12 w-305 h-304">

            <div>
                <div class="card-preview box1">
                    <div class="fuse-card one">
                        <div class="p-16" fxLayout="row" fxLayoutAlign="space-between center">
                            <div class="w-80 h-80">
                                <img class="circle" src="assets/images/logos/project.svg">
                            </div>
                            <div class="pr-16">
                                <div class="h1">Last Achievement</div>
                                <div class="h4 secondary-text">1st on Leaderboard</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
      
            <div>
                <div class="card-preview box1">
                    <div class="fuse-card border">
      
                        <div class="p-16" fxLayout="row" fxLayoutAlign="space-between center">
                            <div class="w-80 h-80">
                                <img class="image ml-84" src="assets/images/logos/project.svg">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
      
            <div>
                <div class="card-preview box1">
      
                    <div class="fuse-card one">
      
                        <div class="p-16" fxLayout="row" fxLayoutAlign="space-between center">
                            <div class="w-80 h-80">
                                <img class="circle" src="assets/images/logos/project.svg">
                            </div>
                            <div class="pr-16">
                                <div class="h1">Last Badge</div>
                                <div class="h4 secondary-text">Team Player -Give Feedback</div>
                            </div>
      
      
      
                        </div>
      
                    </div>
      
                </div>
            </div>
      
      
            <div>
                <div class="card-preview">
      
                    <div class="fuse-card one">
      
                        <div class="p-16" fxLayout="row" fxLayoutAlign="space-between center">
                            <div class="w-80 h-80">
                                <img class="circle" src="assets/images/logos/project.svg">
                            </div>
                            <div class="pr-16">
                                <div class="h1">Next Achievement</div>
                                <div class="h4 secondary-text">Complete your first Milestone</div>
                            </div>
                        </div>
      
                    </div>
      
                </div>
            </div>
      
            <div>
                <div class="card-preview">
      
                    <div class="fuse-card border">
      
                        <div class="p-16" fxLayout="row" fxLayoutAlign="space-between center">
      
                            <div class="pr-16 middle">
                                <div class="h1 middle">Jessica Blake</div>
                                <div class="h4 secondary-text middle">L15 Specialist Status</div>
                                <div class="h5 secondary-text middle">HR Department</div>
                                <div class="h5 secondary-text middle">Recruitment Team</div>
                            </div>
      
      
                        </div>
      
                    </div>
      
                </div>
            </div>
            <div>
                <div class="card-preview">
      
                    <div class="fuse-card one">
      
                        <div class="p-16" fxLayout="row" fxLayoutAlign="space-between center">
                            <div class="w-80 h-80">
                                <img class="circle" src="assets/images/logos/project.svg">
                            </div>
                            <div class="pr-16">
                                <div class="h1">Next Badge</div>
                                <!-- <div class="h4 secondary-text">Complete your first Milestone</div> -->
                                <div class="h4 secondary-text">Workaholic 10 tasks completed</div>
                            </div>
                        </div>
      
                    </div>
      
                </div>
            </div>
        </div>
    
                </mat-tab>
        </mat-tab-group>


</div>